@model AmirPetProject.Models.ViewModel.ViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewAnimal";
    ViewData["CurrentPage"] = "NewAnimal";
}

<form action="/Administrator/AddAnimal" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input name="Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Age</label>
        <input name="Age" type="number" class="form-control" id="exampleInputPassword1" placeholder="Age" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Category</label>
        <select name="Category" class="form-control" required>
            <option value="">Select a category</option>
            @if (Model != null && Model.CatagoriesList != null)
            {
                foreach (var category in Model.CatagoriesList)
                {
                    <option value="@category.CatagoryID">@category.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input name="Description" type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" required>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Image</label>
        <input type="file" name="imageFile" accept="image/*" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
