@model AmirPetProject.Models.ViewModel.ViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewAnimal";
    ViewData["CurrentPage"] = "NewAnimal";
    
}

<form action="/NewAnimal/AddAnimal" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input name="AnimalList[0].Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Age</label>
        <input name="AnimalList[0].Age" type="number" class="form-control" id="exampleInputPassword1" placeholder="Age" required>
    </div> 
    <div class="form-group">
        <label for="exampleInputPassword1">Category</label>
        <select name="AnimalList[0].CatagoryID" class="form-control" required>
            <option value="">Select a category</option>
            @if (Model != null && Model.CatagoriesList != null)
            {
                foreach (var category in Model.CatagoriesList)
                {
                    <option value="@category.CatagoryID">@category.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input name="AnimalList[0].Description" type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" required>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Image</label>
        <input type="file" class="custom-file-input" id="exampleInputFile" name="ImageFile" accept="image/*" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    var message = '@ViewBag.NewAnimal';
    if (message) {
        alert(message);
    }
</script>



