@model AmirPetProject.Models.ViewModel.ViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
    ViewData["CurrentPage"] = "Details";

}


a
<div class="card-container">
    @await Html.PartialAsync("PartialView", Model)
</div>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                @foreach(var comment in Model.CommentsList!)
                {
                    <div class="bg-white p-2">
                        <div class="d-flex flex-row user-info">
                            <img class="rounded-circle" src="/Images/User.png" width="40">
                            <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">Anonymous</span><span class="date text-black-50"> public</span></div>
                        </div>
                        <div class="mt-2">
                       
                                     <p class="comment-text">@comment.Comment</p>
                            
                        </div>
                    </div>
                }
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                    </div>
                </div>
            </div>
           
            <form action="/Details/PostComment" method="post">
                <input type="hidden" name="animalid" value="@Model.AnimalList!.Last().AnimalID" maxlength="200">>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="/Images/User.png" width="40"><textarea class="form-control ml-1 shadow-none textarea" name="comment" required></textarea></div>
                    <div class="mt-2 text-right">
                        <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                        <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>