@model AmirPetProject.Models.ViewModel.ViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Administrator";
    ViewData["CurrentPage"] = "Administrator";
}

<a class="link-light btn btn-warning btn-lg text-white" href="/NewAnimal/Index">Create New Animal</a>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select an option
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       
           @foreach (var category in Model.CatagoriesList!)
            {
            <a class="dropdown-item category-item" href="@Url.Action("Index", "Administrator", new { categoryId = category.CatagoryID })" data-category-id="@category.CatagoryID">@category.Name</a>
            }
        
    </div>
</div>



<div class="card-container">
    @await Html.PartialAsync("PartialView", Model)
</div>





        